MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.szfzicc.mongodb.net/devcamper?retryWrites=true&w=majority
NODE_ENV=development
PORT=5000

GEOCODER_PROVIDER=opencage
GEOCODER_API_KEY=91c851fb175c48b3aaeca5c4c5f13abd

FILE_UPLOAD_PATH= ./public/uploads
MAX_FILE_UPLOAD=1000000

JWT_SECRET=ahlawsahla1000000
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_EMAIL=8aad9581516672
SMTP_PASSWORD=570389cca1a9f5
FROM_EMAIL=noreply@ghassan.example
FROM_NAME=Ghassan